@use '../custom' as *;

// GRADIENT MIXIN 
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

// ABSOLUTE BOTTOM RIGHT 
@mixin absoluteCenter {
    position: absolute;
    bottom: 100%;
    end: 100%;
    transform: translate(-100%, -100%);
}

// TRANSITION PROPERTY 
@mixin transitionProperty {
    transition-duration: 1s;
    transition-property: all;
}